@model IEnumerable<TrabalhoFinalProgInternet.Models.Colaborador>

@{
    ViewData["Title"] = "Index";
}
<div class="container mt-4">
    <h1>Colaboradores</h1>

    <p class="mt-3 mb-3">
        <a asp-action="Create" class="btn btn-secondary">Criar Novo Colaborador</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroCC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contacto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cargo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroCC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contacto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ColaboradorId" class ="btn btn-secondary">Editar</a> 
                        <a asp-action="Details" asp-route-id="@item.ColaboradorId" class ="btn btn-secondary">Detalhes</a> 
                        <a asp-action="Delete" asp-route-id="@item.ColaboradorId"class ="btn btn-secondary">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>