@model IEnumerable<TrabalhoFinalProgInternet.Models.Projeto>


@{
    ViewData["Title"] = "Index";
}



<div class="container mt-4">
    <h1>Projetos</h1>

    <p class="mt-3 mb-3">
        <a asp-action="Create" class=" btn btn-secondary">Adicionar</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Nome Projeto</p>
                </th>
                <th>
                    <p>  Data Inicio</p>
                </th>
                <th>
                    <p> Data Final</p>
                </th>
                <th>
                    <p> Nome Colaborador</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.colaborador.Nome)
                </td>



                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProjetoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ProjetoId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProjetoId">Eliminar</a>  |
                   

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
