@model TrabalhoFinalProgInternet.Models.Tarefa

@{
    ViewData["Title"] = "Detalhes Tarefa";
}
<div class="container mt-4">
<h1>Detalhes</h1>

<div>
    <h4>Tarefa  - @Html.DisplayFor(model => model.Nome)</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrevistaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataPrevistaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrevistaFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataPrevistaFim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            @if (Model.DataInicio == null)
            {
                if (DateTime.Now < Model.DataPrevistaInicio)
                {
                    <p>Dentro do prazo em Espera</p>
                }
                else
                {
                    <p>Atrasado em Espera</p>
                }
            }
            else if (Model.DataFim == null)
            {
                if (DateTime.Now < Model.DataPrevistaInicio)
                {
                    <p>Dentro do prazo em Andamento</p>
                }
                else
                {
                    <p>Atrasado em Andamento</p>
                }
            }
            else
            {
                if (Model.DataFim < Model.DataPrevistaFim)
                {
                    <p>Concluído dentro do prazo</p>
                }
                else
                {
                    <p>Concluído com atrasos</p>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Projeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projeto.Nome)
        </dd>
    </dl>
</div>
<div>
    @if (Model.DataFim == null) { 
        <a asp-action="Edit" asp-route-id="@Model.TarefaId" class="btn btn-primary">Editar</a>
    }
    <a asp-action="Index" asp-route-id="@ViewBag.ProjetoId" class="btn btn-secondary">Cancelar</a>
</div>
</div>
