@model IEnumerable<TrabalhoFinalProgInternet.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1>Tarefa</h1>

    <p class="mt-3 mb-3">
        <a asp-action="Create" class="btn btn-secondary">Criar nova tarefa</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Nome</p>
                </th>
                <th>
                    <p>Descrição</p>
                </th>
                <th>
                   <p>Data Prevista de Início</p>
                </th>
                <th>
                    <p>Data Prevista de Fim</p>
                </th>
                <th>
                    <p>Projeto</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) 
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPrevistaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPrevistaFim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Projeto.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TarefaId" class="btn btn-secondary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.TarefaId" class="btn btn-secondary">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.TarefaId" class="btn btn-secondary">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody> 
    </table>
</div>

