@model IEnumerable<TrabalhoFinalProgInternet.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1>Tarefa</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataPrevistaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataPrevistaFim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projeto)
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevistaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevistaFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projeto.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TarefaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TarefaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TarefaId">Delete</a>
            </td>
        </tr>
}
        </tbody>
    </table>
</div>
