@model IEnumerable<TrabalhoFinalProgInternet.Models.ColaboradorProjeto>

@{
    ViewData["Title"] = "Index";
}
<div class="container mt-4">
    <h1>Colaboradores no Projeto @ViewBag.ProjetoNome</h1>
    <p>
        <a asp-action="Create" class="btn btn-secondary">Adicionar Colaborador</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Colaborador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projeto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataDeInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataDeSaida)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Colaborador.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Projeto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDeInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDeSaida)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id=item.ProjetoId }) @*Perguntar ao stor*@
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
